@font-face {
	font-family:Gotham-Book;
	src: url('../../student/css/Gotham-book.ttf');
}

@font-face {
	font-family:BebasNeue;
	src:url('../../student/css/BebasNeue.otf');
}

.bug-container {

}

#bug-compose {
	margin-left: 700px;
	margin-top: 550px;
	position:absolute;
}
.form-control {
	width:350px;
}

#submit {
	margin-top:10px;
	margin-left:300px;
	border:none;
	color:white;
	background-color:#9eb4b1;
}

.text-center2 {
	text-align:center;
	font-size: 50px;
	font-family:BebasNeue;
	color:#748583;
}

.db-entry {
	/*font-family:Gotham-Book;*/
	-moz-box-sizing: border-box;
  box-sizing: border-box;
	padding: 7px 10px;
	margin: 5px;
	display: inline-block;
	font-family: monospace;
	border-radius: 3px;
	background-color: #f2f2de;
	color: #302F33;
	cursor: default;
}

.db-entry:hover {
	background-color: #E6E6E6;
}

.delete {
	margin-left: 10px;
}
.delete:hover {
	color: red;
	cursor: pointer;
}

.text-center {
	font-family:BebasNeue;
	color:#9eb4b1;
}

@keyframes fade {
	from {background-color:#fbfdd5;}
	to{background-color:#fafbe3;}
}

#is-helping {
	font-family: Gotham-Book;
	background-color:#fbfdd5;
	animation-name:fade;
	animation-duration:2s;
	animation-iteration-count:infinite;
}

#needs-help {
	font-family:Gotham-Book;
}

#helped {
	font-family:Gotham-Book;
}

