@font-face {
	font-family:Gotham-Book;
	src: url('./Gotham-book.ttf');
}

@font-face {
	font-family:BebasNeue;
	src: url('./BebasNeue.otf');
}
body {
	font-family:Gotham-Book;
}

#today-sprint {
	font-family:BebasNeue;
	font-size:50px;
	color:black;
}
#mock {
	border:#cccccc;
}

#table-contents {
	width:700px;
	height:500px;
}

#table-contents-pic {
	width:700px;
	height:100px;
}
#todays-sprint {
	width:700px;
	height:100px;
}

#dropdown {
	position:absolute;
	background-color:white;
	list-style:none;
}

a {
	color:black;
	text-decoration:none;
	font-family:BebasNeue;
	font-size:24px;
	padding-left:7px;
	padding-right:7px;
}

a:hover {
	text-decoration:none;
	color:#cccccc;
}

.dropdown-toggle {
	padding-left:7px;
	font-family:BebasNeue;
	font-size: 24px;
	color:#748583;
}

.box {
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
/*	background-image: url('tableofcontents.png')*/
}

/*asldfkj*/

.sidebar {
	/*display:none;*/
	/*margin-top:-1000px;*/
	/*margin-left:-1000px;*/
}

/*.placeholder {
	width:120px;
	height:80px;
}*/

#place-img {
	width:70px;
	height:50px;
}

#submit {
	margin-left:320px;
	font-family:Gotham-Book;
	background-color:#9eb4b1;
	color:white;
	border:none;
	border-radius:0px;
	height:30px;
	width:70px;
	margin-top: 5px;
}

#header {
	text-align:center;
	/*margin-left:20px;*/
	color:#748583;
	font-family:BebasNeue;
	font-size:50px;
}

#header2{
	text-align:center;
	/*margin-left:40px;*/
	font-size:35px;
	color:#9eb4b1;
	margin-top:0px;
	font-family:BebasNeue;
}

#shoutout {
	font-family:BebasNeue;
	color:#9eb4b1;
	text-align:right;
}

#shoutout-text {
	font-family:Gotham-Book;
	margin-left:40px;
	width:350px;
}

#notification {
	font-size:15px;
	text-align:center;
	font-family:Gotham-Book;
	/*margin-left:25px;*/
}

#assessment {
	text-align:center;
	font-family:Gotham-Book;
	font-size:15px;
	font-weight:bolder;
}
.survey-form {
	/*width: 500px;*/
	margin: 0 auto;
}

.rating {
	padding: 5px;
	background-color: #FFF;
}
.ratings-container {
	font-family:Gotham-Book;
	display: block;
	width: 325px;
	margin: 0 auto;
	/*border: 1px solid #CCCCCC;*/
	border:none;
}

.rating:nth-child(odd) {
	background-color:#f2f2de;
}

.tag {
	display: inline-block;
	margin: 0 10px;
	width: 100px;
}

.thumbs-container {
	display: inline-block;
	padding: 3px 5px;
	margin: 0 10px;
	background-color:white;
	border-radius: 5px;
	/*border:none;*/
}

.thumbs {
	cursor: pointer;
	padding: 5px 5px;
	border-radius: 3px;
}

.thumbs:hover {
	background-color: #FFF;
}

.thumbs-down {
	color: black;
}
#thumbsMiddle {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.thumbs-up {
	/*color: white;*/
}

#request-submit {
	border-radius: 20px;
	background-color:#888;
	color:#f8f8f8;
	border:none;
	position: absolute;
	right: 0px;
	margin-right: 15px;
}

#input-submit {

}

.submit-tag {
	/*padding-left:10px;*/
	/*width: 400px;*/
}

#input:focus {
	outline:none;
}
#input {
	/*font-family:Gotham-Book;*/
	margin-top: 5px;
	margin-right: 5px;
	width: 205px;
	margin-bottom:10px;
	border-bottom-color:#cccccc;
	border-left: none;
	border-right:none;
	border-top:none;
}
.container {
	margin-top: 20px;
}

#title {
	font-style:bold;
	font-color:#3c948b;
}

#content:focus {
	outline:none;
}
#content {
	height:150px;
	padding-top: 15px;

}

/*#navbar {
	position:static;
}
*/
#align-left {
	position:absolute;
	/*float:left;*/
}

.help-text {
	font-family:BebasNeue;
	color:#888;
	font-size: 75px;
	text-align:center;
}

.fellow-text {
	font-family:BebasNeue;
	color:#748583;
	font-size: 35px;
	/*padding-left:135px;*/
	text-align:right;
}

.clicked-true {
	color: green;
}
