/*#output {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}*/

#calendar {
  font-family: Helvetica;
  width: 100%;
  /*margin: 0 auto;*/
  text-align: center;
}

.week {
  width: 100%;
  display:flex;
  flex-direction: row;
}

.dates {
  display:flex;
  flex-direction: row;
}

.dates h3 {
  font-size: 14px;
  display: flex;
  flex: 1;
  /*align-content: stretch;*/
}

.schedule {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  width: 100px;
  /*flex: 1;*/
  /*background-color: #f7f7f7;*/
  border: solid 1px #fff;
}

.schedule div {
  font-size: 14px;
  height: 50px;
  border: 1px solid #000;
}

.day {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  flex: 1;
  background-color: #fff;
  /*border: solid 1px #000;*/
}

.day h1 {
  padding: 10px 0px;
  /*border-bottom: 1px solid #000;*/
}
.hour {
  display: flex;
  flex-direction: column;
  height: 50px;
  border: 1px solid #000;
}

.hasEvent {
  /*background-color: teal;*/
}

.minute {
  flex: 1;
}

.minEvent {
  background-color: #E4F7F8;
  opacity: 0.6;
}

.minNoEvent {
  /*background-color: #f7f7f7;*/
}

.detail {
  z-index: 1;
}
