/*span {
  margin: 0;
  padding: 0;
}*/
#output {
  font-family: Helvetica;
  text-align: center;
}

#calendar {
  font-family: Helvetica;
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

.navButtons button {
  text-align: center;
  width: 80px;
  margin: 5px;
}

.dates {
  display:flex;
}

h3.flx:first-child {
  width: 100px;
}

h3.flx:nth-child(n+2) {
  flex: 1
}

.dates h3 {
  font-size: 14px;
}

.week {
  width: 100%;
  display:flex;
  flex-direction: row;
}

.schedule {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  width: 100px;
  /*flex: 1;*/
  /*background-color: #f7f7f7;*/
  /*border: solid 1px #fff;*/
}

.schedule div {
  font-size: 14px;
  height: 60px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
}

.day {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  flex: 1;
  background-color: #fff;
  /*border: solid 1px #000;*/
}

.hour {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  height: 60px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
}

.hasEvent {
  /*background-color: teal;*/
}

.minute {
  flex: 1;
}

.minEvent {
  background-color: #E4F7F8;
  /*opacity: 0.6;*/
}

span.detail {
  z-index: 1;
}
